.input-button,
.input-text {
  background-color: #fff;
  border: unset;
  width: calc(100% - 45px);
  margin-bottom: 8px;
  height: 30px;
  border-radius: 4px;
  padding: 5px 20px;
}
.input-button {
  background-color: #bbe1f8;
  color: #000;
  display: block;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  height: 50px;
}
