@import "variables.scss";

#cuadritos{
  border: $borde;
  padding: 10px;
  .cuadro{
    border: 1px solid $rojo;
    &.rojo{
      background-color: $rojo;
    }
    &.azul{
      background-color: $azul;
    }
    &.verde{
      background-color: $verde;
    }
  }
}

.cuadro{
  &.rojo{
    p.texto-rojo{
      color: $rojo;
      font-family: $vic-favorite;
      font-size: 30px;
      border: $borde;
    }
  }
}

h1,h2,h3{
  font-family: $rob-favorite;
}


